@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #3767ad;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  font-size: 48px;
}

.glass {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__photo {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__number {
    color: #000000;
    width: 90px;
    height: 150px;
    display: flex;
    background: none;
    position: absolute;
    font-size: 112px;
    border-color: #000000;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 48px; 
    resize: none;
    border: none; 
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--add {
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      width: 216px;
      height: 48px;
      font-style: normal;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      margin-top:45px;
    }
    &--remove {
      margin-top:38px; 
      margin-bottom: 12px;
      color: #ffffff;
      width: 184px;
      height: 23px;
      background: none;
      border: none; 
    }
  }
}
